<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="kevinlinpr_v4_transmission" params="prefix">

        <transmission name="${prefix}trans1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint1">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor1">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans2">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint2">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor2">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint3">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor3">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans4">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint4">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor4">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans5">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint5">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor5">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans6">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint6">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor6">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="${prefix}trans7">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}joint7">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}motor7">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

</robot>