<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kevinlinpr_v4">
    <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro"/>
    <xacro:include filename="$(find kevinlinpr_v4)/urdf/kevinlinpr_v4.urdf.xacro"/>
    <!--请在kevinlinpr_v4.urdf.xacro文件中宏定义kevinlinpr_v4_robot-->
    <xacro:kevinlinpr_v4_robot/>
    <!--设置link为world-->
    <link name="world"/>
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>
